*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #333333;
    font-weight: 500;
    max-width: 1400px;
}
main{
    padding:40px;
}
:root{
    scroll-behavior: smooth;
}
.top{
    margin: 5px;
    padding: 10px;
    border: .4px solid #333333;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlink a{
    padding: 1.5rem;
    text-decoration: none;
    color: #333333;
}
.navlink a:hover{    
    text-decoration: underline solid #333333 2.5px;
}
.spread{
    position: fixed;
    top: 10px;
    right: 0;
    width: 60vw;
    height: 80vh;
    padding: 20px 25px;
    background: rgba(0, 0, 0, .7);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    translate: transform .2s ease-in-out;
}
.spread a{
    color: #fff;
}
.menu-bars{
    display: none;
    cursor: pointer;
}
.cont-top{
    margin: 50px 0 30px 200px;
    max-width: 550px;
}
.blue{
    font-size: 18px;
    color: #2D9CDB;
}
.titulo{
    font-size: 48px;
}
.subtitulo{
    font-size: 36px;
    margin: 20px 0;
}
.cont-photo{
    margin: 30px 0;
    max-width: 100vw;
}
.cont-photo img{
    object-fit: scale-down;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.cont-medio{
    margin: 50px 0 30px 200px;
    max-width: 350px;
}
.parrafo{
    margin: 15px 0;
    font-size: 18px;
    font-weight: 400;
}
.contact{
    font-size: 14px;
    margin: 20px 0;
}
input{
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background: #f2f2f2;
}
.button{
    background-color: #2D9CDB;
    color: #f2f2f2;
    cursor: pointer;
}
.contenedor{
    margin: 70px 130px;
}
.servicios{
    margin: 5px 30px;
    display: flex;
}
.start{
    font-size: 14px;
    background: #c8c8c8;
    color: #f2f2f2;
}
.start:hover{
    color: #fff;
    background: #2D9CDB;
}
.opcion{
    margin: 15px;
    padding: 30px 15px;
    justify-content: space-between;
    border: .5px solid #fff;
}
.opcion:hover{
    border: .5px solid #e8e8e8;
    border-radius: 15px;
}
.opcion p{
    font-size: 16px;
}
.fa-solid{
    margin: 20px;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    max-width: 50px;

}
.fa-pen-nib{
    background-color: #2D9CDB;
    color: #fff;
}
.fa-code{
    align-items: center;
    background-color: #27AE60;
    color: #fff;
    padding: 12px;
}
.fa-server{
    background-color: #EB5757;
    color: #fff;
    
}
h3{
    margin: 20px 0;
    font-size: 24px;
}
.cont-box{
    padding: 25px 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, auto);
}
.design-box img{
    border-radius: 15px;
    max-width: 420px ;
    max-height: 420px ;
}
.design-box:first-child{
    grid-column: 1/2;
    grid-row: 2/4;
}
.design-box:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/3;
}
.design-box:nth-child(3){
    grid-column: 1/2;
    grid-row: 4/6;
}
.design-box:last-child{
    grid-column: 2/3;
    grid-row: 3/5;
}
.description{
    font-size: 14px;
    color: #afafaf;
    font-weight: 300;
}
.servicio{
    margin: 10px 0;
    font-size: 24px;
    font-weight:400;
}
.d-link{
    position: absolute;
    display: flex;
    right: 250px;
    align-items: center;
    color: #2D9CDB;
}
.d-link a{
    text-decoration: none;
    color: #2D9CDB;
}
.d-link i{
    font-size: 14px;
    padding: 0;
}
.team{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.words{
    max-width: 300px;
}
.meet{
    color: #eb5757;
    font-size: 18px;
    font-weight: 400;
}
.photos{
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-template-rows: repeat(4,auto);
}
.photos img{
    border-radius: 15px;
    object-fit: scale-down;
    max-width: 100%;
    height: auto;
}
.photos img:first-child{
    grid-column: 2/3;
    grid-row: 1/3;
}
.photos img:nth-child(2){
    grid-column: 1/2;
    grid-row: 2/4;
}
.photos img:last-child{
    grid-column: 2/3;
    grid-row: 3/5;
}
.coment{
    max-width: 930px;
    
}
.profile-coment{
    margin-left: 20px;
    background-color: #f2f2f2;
    display: flex;
    max-width: 350px;
    padding: 20px 40px 20px 30px;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
}
.profile-coment img{
    max-width: 80px;
    border-radius: 10px;
}

footer{
    margin-top: 30px;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    color:#fff;
}
.footer{
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.link{
    display: flex;
    flex-direction: column;
    
}
.link a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
.bottom{
    margin: 0 15px;
    font-size: 50px;
}
.social-icon img{
    margin: 15px 8px;
    cursor: pointer;
}
.created{
    width: 100%;
    margin-top: 70px;
    text-align: center;
    font-size: 14px;
    font-weight: 200;
}
footer #input-mail{
    color: #446;
}
@media screen and (max-width: 1000px){
    body{
        font-weight: 400;
    }
    main{
        padding:15px 0;
    }
    .navlink{
        display: none;
    }
    .spread{
        display: flex;
    }
    
    .navlink a:hover{    
        text-decoration: underline solid #fff 2.5px;
    }
    .menu-bars{
        display: inline-block;
        position: fixed;
        top: 10px;
        right: 10px;
        width: 25px;
        height: 25px;
        box-shadow: 0 0 6px rgba(0, 0, 0, .7);
        border-radius: 5px;
    }
    .blue,
    .meet,
    .description{
        font-size: 12px;
    }
    .titulo{
        margin: 40px 0;
        font-size: 24px;
    }
    .subtitulo{
        font-size: 20px;
    }
        
    .cont-top{
        margin: 30px 40px;
        max-width: 100%;
    }
    .cont-photo{
        margin: 30px 15px;
    }
    .cont-medio,
    .contenedor{
        border-top: .1px solid #789;
        margin: 40px;
        max-width: 100vw;
    }
    .cont-photo img{
        object-fit: scale-down;
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }
    .cont-box,
    .servicios{
        display: flex;
        flex-direction: column;
        margin: 20px 0;
    }
    .design-box img{
        object-fit: scale-down;
        max-width: 100%;
        height: auto;
    }
    .d-link{
        right: 50px;
        font-size: 12px;
        align-items: center;
    }
    .top{
        margin-left: 15px;
        padding: 5px;
        font-size: 20px;
        border: .3px solid #333333;
        cursor: pointer;
    }
    .opcion{
        margin: 5px;
        padding: 20px 10px;
    }
    .servicio{
        font-size: 20px;
    }
    .footer{
        padding: 20px 40px;
    }
    .designs{
        margin: 40px 40px 70px 40px;
}

@media screen and (max-width: 500px){
    .footer{
        padding: 15px 25px;

    }
    .link a{
        font-size: 16px;
    }
    .bottom{
        font-size: 30px;
    }
    .team .subtitulo,
    .designs .subtitulo{
        margin-bottom: 10px;
    }
    .meet{
        margin: 20px 0 10px 0;
    }
    .cont-medio input,
    .footer input{
        padding: 10px;
        font-size: 14px;
    }
    
    .opcion{
        padding: 10px;
    }
}
